<% include ../views/index %>
<div>
        <div class="container">
        <ul>
            <% data['sources'].forEach(function(imp){ %>
             <br>
             <li><strong><a href="<%= imp['url'] %>"><%= imp['name'] %></a>
             </strong></li>
             <br>
             <p><%= imp['description'] %></p>
             <br>
             <h6>Category: <%= imp['category'] %></h6>
          <% }) %>
         </ul>
        </div>
  </div>