<% include ../views/index %>
<div>
        <div class="container">
        <ul>
            <% data['articles'].forEach(function(everything){ %>
             <br>
             <li><strong><%= everything['title'] %></strong></li>
             <br>
             <li><%= everything['description'] %></li>
             <br>
             <li><%= everything['publishedAt'], %></li>
             <br>
             <a href="<%= everything['url'] %>">url</a>
          <% }) %>
         </ul>
         </div>
  </div>
      