<% include ../views/index %>
<div>
        <div class="container">
        <ul>
            <% data['articles'].forEach(function(everything){ %>
             <br>
             <br>
             <li><strong><a href="<%= everything['url'] %>"><%= everything['title'] %></a>
             </strong></li>
             <br>
             <li><%= everything['description'] %></li>
             <br>
             <li><%= everything['publishedAt'], %></li>
             
          <% }) %>
         </ul>
         </div>
  </div>
      