<% include ../views/index %>
<div class="container">
<ul>
   <% data['articles'].forEach(function(News){ %>
    <br>
    <li><strong><a href="<%= News['url'] %>"><%= News['title'] %></a>
    </strong></li>
    <br>
    <p><%= News['description'] %></p>
    <br>
    <h6> Published At:<%= News['publishedAt'] %></h6>
    <br>
 <% }) %>
</ul>
</div>